#team {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.mate {
  display: flex;
  flex-direction: row;
  height: 80%;
  justify-content: center;
}

// .social-container {

// }

// .team-social-container {

// }

// .team-social {

// }

